wskelompok2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/wskelompok2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wskelompok2" targetNamespace="http://www.example.org/wskelompok2/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/wskelompok2/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nama" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="data" type="tns:dataType"></xsd:element>

      <xsd:complexType name="dataType">
      	<xsd:sequence>
      		<xsd:element name="nama" type="xsd:string"></xsd:element>
      		<xsd:element name="npm" type="xsd:string"></xsd:element>
      		<xsd:element name="agama" type="xsd:string"></xsd:element>
      		<xsd:element name="kelahiran" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="input" type="tns:inputType"></xsd:element>
      <xsd:element name="output" type="tns:outputType"></xsd:element>
            
            <xsd:complexType name="outputType">
            	<xsd:sequence>
            		<xsd:element name="keterangan1" type="xsd:string"></xsd:element>
            		<xsd:element name="keterangan2" type="xsd:string"></xsd:element>


            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="inputType">
            	<xsd:sequence>
            		<xsd:element name="nama" type="xsd:string"></xsd:element>
            		<xsd:element name="npm" type="xsd:string"></xsd:element>
            		<xsd:element name="agama" type="xsd:string"></xsd:element>
            		<xsd:element name="kelahiran" type="xsd:int"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="setInfoRequest">
    <wsdl:part element="tns:input" name="inputParameter" />
  </wsdl:message>
  <wsdl:message name="setInfoResponse">
    <wsdl:part name="outputParameter" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="wskelompok2">
    <wsdl:operation name="setInfo">
      <wsdl:input message="tns:setInfoRequest"/>
      <wsdl:output message="tns:setInfoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wskelompok2SOAP" type="tns:wskelompok2">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="setInfo">
      <soap:operation soapAction="http://www.example.org/wskelompok2/setInfo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wskelompok2">
    <wsdl:port binding="tns:wskelompok2SOAP" name="wskelompok2SOAP">
      <soap:address location="http://localhost:8080/wskelompok2/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
